body {
    margin: 10px;
    padding: 5px;
}
body {
    background-image: url(hotel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}
nav {
    background-color:rgba(5, 31, 126, 0.516);
    padding: 10px;
    text-align: center;
    border: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.textbutton a {
text-decoration: none;
font-size: 20px;
padding: 10px 20px;
background-color: rgba(2, 79, 211, 0.847);
color:blanchedalmond;
}

.textbutton a:hover {
    background-color: rgba(56, 56, 56, 0.779);
    color:rgb(238, 255, 0);
}
header {
    margin: 10px;
    padding: 20px;
    font-family: monospace;
    font-size: xx-large;
    color: rgb(190, 255, 233);
    position: relative;

}

div {
    margin: 2px;
    padding:5px;
    text-align: center;
}
h3 {
    font-family: 'Lucida Sans Unicode';
    padding: 10px;
    background-color: rgba(127, 172, 255, 0.652);
    color:rgb(14, 0, 141);
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    top: -3rem;    
}

h1 {
    font-family: cursive;
    font-size: 40px;
    color: rgb(237, 0, 233);
    position: relative;
    top: -4rem;
}
section {
    position: center;
    text-align: center;
}
.button {
position: relative;
text-align: center;
bottom: 4rem;
}

.button a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 93, 174, 0.618);
    color:rgb(225, 225, 225);
    border: 2px solid blue;
    }

.button a:hover {
    background-color: rgba(30, 0, 203, 0.875);
    color:rgb(255, 0, 136);
    font-size: px;
}
.lastbutton ul {
    list-style: none;
    text-align: center;
}
.lastbutton ul li {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 0rem;
    
}
.lastbutton a {
    background-color: rgba(151, 71, 227, 0.377);
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 255, 0.482);
    color: blanchedalmond;
    text-decoration: none;
}
.lastbutton a:hover{
    background-color: blue;
    color:white;
}
.footer{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: -22rem;
}
div ul {
    padding: 20px;
    background-color: rgba(0, 255, 255, 0.24);
    position: relative;
    bottom: -12rem;
}
